.title {
    font-size: 1.6rem;
    font-weight: 600;
    margin-bottom: 30px;
}

@media screen and (max-width: 1024px) {
    .title {
        font-size: 1.4rem;
    }
}

@media screen and (max-width: 768px) {
    .title {
        font-size: 1.2rem;
        margin-bottom: 20px;
    }
}